apiVersion: v1
clusters:
  - name: mgmt-lct1
    cluster:
      certificate-authority-data: {{ (bitwardenFields "item" "K8s MGMT-LCT1").ca.value }}
      server: https://k8s-mgmt.internal.lct1.lecat.network:6443
  - name: prd-lct1
    cluster:
      certificate-authority-data: {{ (bitwardenFields "item" "K8s PRD LCT1").ca.value }}
      server: https://k8s-prd.internal.lct1.lecat.network:6443
  - name: lct1
    cluster:
      certificate-authority-data: {{ (bitwardenFields "item" "K8s LCT1").ca.value }}
      server: https://k8s.internal.lct1.lecat.network:6443
  - name: osc-eu1
    cluster:
      certificate-authority-data: {{ (bitwardenFields "item" "K8s OSC-EU1").ca.value }}
      server: https://k8s.internal.osc-eu1.lecat.network:6443
contexts:
  - name: mgmt-lct1
    context:
      cluster: mgmt-lct1
      user: mgmt-lct1
  - name: prd-lct1
    context:
      cluster: prd-lct1
      user: prd-lct1
  - name: lct1
    context:
      cluster: lct1
      user: lct1
  - name: osc-eu1
    context:
      cluster: osc-eu1
      user: osc-eu1
current-context: lct1
kind: Config
preferences: {}
users:
  - name: mgmt-lct1
    user:
      client-certificate-data: {{ (bitwardenFields "item" "K8s MGMT-LCT1").certificate.value }}
      client-key-data: {{ (bitwardenFields "item" "K8s MGMT-LCT1").key.value }}
  - name: prd-lct1
    user:
      client-certificate-data: {{ (bitwardenFields "item" "K8s PRD LCT1").certificate.value }}
      client-key-data: {{ (bitwardenFields "item" "K8s PRD LCT1").key.value }}
  - name: lct1
    user:
      client-certificate-data: {{ (bitwardenFields "item" "K8s LCT1").certificate.value }}
      client-key-data: {{ (bitwardenFields "item" "K8s LCT1").key.value }}
  - name: osc-eu1
    user:
      client-certificate-data: {{ (bitwardenFields "item" "K8s OSC-EU1").certificate.value }}
      client-key-data: {{ (bitwardenFields "item" "K8s OSC-EU1").key.value }}
