export VCENTER_HOST=vcenter.internal.lct1.lecat.network
export VCENTER_USER={{ (bitwarden "item" "Tsukeru Production Admin").login.username }}
export VCENTER_PASSWORD={{ (bitwarden "item" "Tsukeru Production Admin").login.password }}
export GOVC_URL=https://$VCENTER_HOST
export GOVC_USERNAME=$VCENTER_USER
export GOVC_PASSWORD=$VCENTER_PASSWORD
export GOVC_INSECURE=1
