export GOVC_URL=https://vcenter.internal.lct1.lecat.network
export GOVC_USERNAME={{ (bitwarden "item" "Tsukeru Production Admin").login.username }}
export GOVC_PASSWORD={{ (bitwarden "item" "Tsukeru Production Admin").login.password }}
export GOVC_INSECURE=1
