export VCENTER_HOST=par1-ccc-vcenter.admin
export VCENTER_USER={{ (bitwarden "item" "par1-ccc-vcenter.admin").login.username }}
export VCENTER_PASSWORD="{{ (bitwarden "item" "par1-ccc-vcenter.admin").login.password }}"

export GOVC_URL=https://$VCENTER_HOST
export GOVC_USERNAME=$VCENTER_USER
export GOVC_PASSWORD=$VCENTER_PASSWORD
export GOVC_INSECURE=1
export TF_VAR_vsphere_password=$VCENTER_PASSWORD
