{
    "default": {
        "access_key": "{{ (bitwardenFields "item" "Outscale Perso").access_key.value }}",
        "secret_key": "{{ (bitwardenFields "item" "Outscale Perso").secret_key.value }}",
        "host": "outscale.com",
        "https": true,
        "method": "POST",
        "region_name": "eu-west-2",
        "region": "eu-west-2"
    },
    "euw2": {
        "access_key": "{{ (bitwardenFields "item" "Outscale Perso").access_key.value }}",
        "secret_key": "{{ (bitwardenFields "item" "Outscale Perso").secret_key.value }}",
        "host": "outscale.com",
        "https": true,
        "method": "POST",
        "region_name": "eu-west-2",
        "region": "eu-west-2"
    },
    "euw2-ia": {
        "access_key": "{{ (bitwardenFields "item" "Outscale IA").access_key.value }}",
        "secret_key": "{{ (bitwardenFields "item" "Outscale IA").secret_key.value }}",
        "host": "outscale.com",
        "https": true,
        "method": "POST",
        "region_name": "eu-west-2",
        "region": "eu-west-2"
    },
    "use2": {
        "access_key": "{{ (bitwardenFields "item" "Outscale Perso").access_key.value }}",
        "secret_key": "{{ (bitwardenFields "item" "Outscale Perso").secret_key.value }}",
        "host": "outscale.com",
        "https": true,
        "method": "POST",
        "region_name": "us-east-2",
        "region": "eu-west-2"
    },
    "usw1": {
        "access_key": "{{ (bitwardenFields "item" "Outscale Perso").access_key.value }}",
        "secret_key": "{{ (bitwardenFields "item" "Outscale Perso").secret_key.value }}",
        "host": "outscale.com",
        "https": true,
        "method": "POST",
        "region_name": "us-west-1",
        "region": "us-west-1"
    },
    "apn1": {
        "access_key": "{{ (bitwardenFields "item" "Outscale Perso").access_key.value }}",
        "secret_key": "{{ (bitwardenFields "item" "Outscale Perso").secret_key.value }}",
        "host": "outscale.com",
        "https": true,
        "method": "POST",
        "region_name": "ap-northeast-1",
        "region": "ap-northeast-1"
    },
    "sec1": {
        "access_key": "{{ (bitwardenFields "item" "Outscale Perso").access_key.value }}",
        "secret_key": "{{ (bitwardenFields "item" "Outscale Perso").secret_key.value }}",
        "host": "outscale.com",
        "https": true,
        "method": "POST",
        "region_name": "cloudgouv-eu-west-1",
        "region": "cloudgouv-eu-west-1"
    }
}
