# Terraform
TF_HTTP_USERNAME={{ (bitwarden "item" "Token GitLab Terraform").login.username }}
TF_HTTP_PASSWORD={{ (bitwarden "item" "Token GitLab Terraform").login.password }}

# TF OSC
TF_VAR_cf_api_key={{ (bitwarden "item" "CloudFlare TF Token").login.password }}
TF_VAR_netbox_api_key={{ (bitwarden "item" "Netbox TF Token").login.password }}
TF_VAR_dns_key='{"eu-west-2a": "{{ (bitwardenFields "item" "Bind DDNS Keys").eu_west_2a.value }}", "eu-west-2b": "{{ (bitwardenFields "item" "Bind DDNS Keys").eu_west_2b.value }}", "ia": "{{ (bitwardenFields "item" "Bind DDNS Keys").ia.value }}", "us-east-2b": "{{ (bitwardenFields "item" "Bind DDNS Keys").us_east_2b.value }}", "cloudgouv-eu-west-1a": "{{ (bitwardenFields "item" "Bind DDNS Keys").cloudgouv_eu_west_1a.value }}", "us-west-1a": "{{ (bitwardenFields "item" "Bind DDNS Keys").us_west_1a.value }}", "ap-northeast-1a": "{{ (bitwardenFields "item" "Bind DDNS Keys").ap_northeast_1a.value }}"}'

# PVE
TF_VAR_pve_host={{ (index (bitwarden "item" "PVE Terraform").login.uris 0).uri }}
TF_VAR_pve_lct1_password={{ (bitwarden "item" "PVE Terraform").login.password }}
PKR_VAR_pve_host={{ (index (bitwarden "item" "PVE Packer").login.uris 0).uri }}
PKR_VAR_pve_password={{ (bitwarden "item" "PVE Packer").login.password }}

# ANSIBLE
ANSIBLE_ZABBIX_AUTH_KEY={{ (bitwarden "item" "Zabbix Ansible API Token").login.password }}
